
*{
    color: white;
    background: rgb(30, 30, 30);
}

body{
    display: flex;
    justify-content: center;
  }
.center{
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
h2 {
    text-align: left;
    margin-bottom: 10px;
}
P{
    text-align: left;
    margin-top: -5px;
    max-width: 800px;
    width: 80vw;
}
textarea{
    border: 2px solid gray;
    width: 80vw;
    max-width: 800px;
    margin-bottom: 10px;
}
span{
    cursor: pointer;
    float: right;
    font-size: 15px;
    border: 2px solid blue;
    padding: 5px 8px;
    margin: 5px 5px 0 0 ;
}

span:hover{
    background: blue;
}