
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 50px 4%; */
    margin-top: 50px;
}
.container .center{
    width: 80%;
}
.container .center h2{
    margin-bottom: 10px;
}

.container .center textarea{
    width: 100%;
    max-width: 850px;
}

/* buttons  */
.container .center .btns{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 8px;
    margin-bottom: 10px;
}
.container .center .btns span{
    background: dodgerblue;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

/* counter area  */
.container .center p{
    margin-bottom: 8px;
}


