*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.center{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.images{
    perspective: 100px;
}
.images, .images img {
    border-radius: 10px;
    transition: .2s ease;
    width: 100%;
}
.images img:hover{
    margin-top: -15px;
    box-shadow: 0 10px 10px black;
    transform: rotateX(-1deg);
}
.next, .prev{
    background: gray;
    padding: 10px 10px 5px;
    color: white;
    font-size: 30px;
    border-radius: 50px;
    cursor: pointer;
}
.next:hover, .prev:hover{
    background: aqua;
    color: black;
}